.passwordPlace{
    position: relative;
}
.passwordButton{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40px;

    border: none;

    outline: none;
    background-size: 60%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
 }